<div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
    <div style="padding-top:3em padding-bottom: 3em;">    
        <h1>Log in</h1>
    </div>
    <%= form_for(:session, url: login_path) do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control'%>
    <div style="height:20px;"></div>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <div style="height:20px;"></div>
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    </div>
    </div>