<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>Registrations by Company</h1>
      <h4 style="padding-top:20px;">Select a Company:</h4>
      <select id="get_company" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @companies.each do |c| %>
          <option value= <%= c.id %> > <%= c.name %> </option>
        <% end %>
      </select>
      <br><br>
      <% if @company %>
      <hr>
      <% if @registrations.empty? %>
         <h4><%=@company.name%> has no registrations.</h4>
         <% else %>
         <h4>Showing registrations for <%=@company.name%></h4>
      <% end %>
        <% @registrations.each do |reg| %>
        <hr>
        <%=reg.project.company.name%>: <%=reg.project.name%><br>
        Distributor: <%=reg.project.distributor.name%><br>
        Expiration: <%=reg.expiration ? reg.expiration.strftime('%m/%d/%Y') : "None given" %><br>
        Contact: <%=reg.contact%><br>
        Notes: <%=reg.notes%><br>
        <% end %>
      <% end %>
    </div>
  </div>
</container>
