<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>Registrations</h1>
      <h3>(sorted by expiration date)</h3>
        <% @registrations.each do |reg| %>
        <hr>
        <%=reg.project.company.name%>: <%=reg.project.name%><br>
        Distributor: <%=reg.project.distributor.name%><br>
        Expiration: <%=reg.expiration ? reg.expiration.strftime('%m/%d/%Y') : "None given" %><br>
        Contact: <%=reg.contact%><br>
        Notes: <%=reg.notes%><br>
        <% end %>
    </div>
  </div>
</container>
