<div style="height:40px"></div>
<%= form_for @shipment do |f| %>
  <div class="form-group">
    <%= f.label :quantity, "Quantity:", class: "control-label" %>
    <%= f.number_field :quantity, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cable_length, "Cable length:", class: "control-label" %>
    <%= f.number_field :cable_length, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price, "Price:", class: "control-label" %>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date, "Date:", class: "control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes, "Notes:", class: "control-label" %>
    <%= f.text_field :notes, class: "form-control" %>
  </div>
  <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
<% end %>
