<%= render "shared/menu"%>
<container>
  <div class="row">
    <div class="col-lg-6" style="padding-top:20px; padding-left:50px;">
        <%= render "shared/user_preferences"%>
    </div>
    <div class="col-lg-6" style="padding-top: 20px;">
      <table>
      <tr>
        <th>Date</th>
        <th>Net Cash Flow</th>
        <th>Cumulative Cash Flow</th>
        <th>Shipment Description</th>
      </tr>
      <% @cash_flow.each do |row| %>
      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
        <td><%= row[2] %></td>
        <td><%= row[3] %></td>
      <tr>
      <% end %>

      </table>
    </div>
  </div>
</container>