<%= render "shared/menu"%>
<container>
<h3 style="text-align:center;">Cash Flow for Selected Time and Projects</h3>
  <div class="row">
    <div class="col-lg-4" style="padding-top:20px">
    <div class="mx-auto" style="width:300px;">
        <%= form_for current_user, :url => url_for(:controller => 'projects', :action => 'cash_flow'), method: :get do |f| %> 
    <div class="form-group">
        <%= f.label :start_date, "Start date:", class: "control-label" %>
        <%= f.date_field :start_date, class: "form-control", id: "start_date", value: current_user.start_date ||= Date.today.beginning_of_month %>
    </div>
    <div class="form-group">
        <%= f.label :end_date, "End date:", class: "control-label" %>
        <%= f.date_field :end_date, class: "form-control", id: "end_date", value: current_user.end_date ||= Date.today.end_of_month %>
    </div>
    <div class="form-group">
        <%= f.label :min_confidence, "Minimum confidence:", class: "control-label" %>
        <%= f.number_field :min_confidence, class: "form-control", min: 1, max: 100, value: current_user.min_confidence ||= 100 %>
    </div>
    <div class="form-group">
        <%= f.label :max_confidence, "Maximum confidence:", class: "control-label" %>
        <%= f.number_field :max_confidence, class: "form-control", min: 1, max: 100, value: current_user.max_confidence ||= 100 %>
    </div>
        <%= f.submit "Submit", class: "btn btn-default btn-primary", id: "user-preferences" %>
<% end %> 
    </div>
    </div>
    <div class="col-lg-8" style="padding-top: 20px;">
    <div class="mx-auto" style="width:600px;">
    <% if @flow_hash %>
      <table>
        <tr>
          <th style="text-align:center;">Date</th>
          <th>Net Cash Flow</th>
          <th style="padding: 15px;">Cumulative Cash Flow</th>
        </tr>
        <% @flow_hash.keys.each do |key|  %>
          <% if @flow_hash[key] != 0%>
        <tr>
          <td><%= key.strftime('%m/%d/%Y') %></td>
          <td style="text-align: center;"><%= @flow_hash[key] %></td>
          <td style="text-align: center;"><%= @cumulative_cash_flow += @flow_hash[key] %></td>
        <tr>
        <% end %>
        <% end %>

        </table>
    <% end %>
    </div>
    </div>
  </div>
</container>