<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="col-md-6" style="padding-top:20px;">
        <div class="mx-auto" style="padding-left:50px;">
      <h1>View/Edit Projects</h1>
      <h4 style="padding-top:20px;">Select a Project:</h4>
      <select id="proj_select" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @projects.each do |p| %>
          <% sel = p.id==@project.id ? 'selected="selected" ' : '' %>
          <option <%= "#{sel}" %> value= <%= p.id %> > <%= p.name %> </option>
        <% end %>
      </select>

      <% @theObject = @project %>
      <%= render 'shared/error_messages' %>
      <%= render "shared/project_form" %>
      </div>
    </div>
    <div class="col-md-6" style="padding-top:20px;">
        <h1>Shipments</h1>
        <button id=<%= @project.id %> type="button" class="btn btn-secondary shift-dates">Shift shipment dates</button>
        <% @shipments.each do |s| %>
        <p><%= s.date.strftime('%m-%d-%Y') %> - <%= s.quantity %> - <%= s.product.name %><br>
        <button type="button" class="edit-shipment btn btn-primary" id=<%=s.id%>>Edit</button> <button type="button" class="delete-shipment btn btn-danger" id=<%=s.id%>>Delete</button>
        </p>
        <% end %>
    </div>
  </div>
</container>
