<%= render "shared/menu"%>
<container>
<h3 style="text-align:center;">Revenue and Margin for Selected Time and Projects</h3>

  <div class="row">
    <div class="col-lg-4" style="padding-top:20px">
    <div class="mx-auto" style="width:300px;">
        <%= form_for current_user, :url => url_for(:controller => 'projects', :action => 'revenue_margin'), method: :get do |f| %> 
    <div class="form-group">
        <%= f.label :start_date, "Start date:", class: "control-label" %>
        <%= f.date_field :start_date, class: "form-control", id: "start_date", value: current_user.start_date ||= Date.today.beginning_of_month %>
    </div>
    <div class="form-group">
        <%= f.label :end_date, "End date:", class: "control-label" %>
        <%= f.date_field :end_date, class: "form-control", id: "end_date", value: current_user.end_date ||= Date.today.end_of_month %>
    </div>
    <div class="form-group">
        <%= f.label :min_confidence, "Minimum confidence:", class: "control-label" %>
        <%= f.number_field :min_confidence, class: "form-control", min: 1, max: 100, value: current_user.min_confidence ||= 100 %>
    </div>
    <div class="form-group">
        <%= f.label :max_confidence, "Maximum confidence:", class: "control-label" %>
        <%= f.number_field :max_confidence, class: "form-control", min: 1, max: 100, value: current_user.max_confidence ||= 100 %>
    </div>
        <%= f.submit "Submit", class: "btn btn-default btn-primary", id: "user-preferences" %>
<% end %> 
    </div>
    </div>
    <div class="col-lg-8" style="padding-top: 20px;">
    <div class="mx-auto" style="width:600px;">
      <% if @results_hash %> 
      <table>
        <tr>
          <th style="padding:0px;">Product</th>
          <th style="text-align:right;">Revenue</th>
          <th style="text-align:right;">Margin</th>
        </tr>
        <% rev_total = 0 %>
        <% mar_total = 0 %>
        <% @updated_results_hash.keys.sort.each do |key| %>
          <% rev_total += @updated_results_hash[key][:Revenue] %>
          <% mar_total += @updated_results_hash[key][:Margin] %>
        <tr>
          <td style="padding:0px;"><%= key %></td>
          <td style="text-align: right; padding-left:50px;"><%= number_with_precision(@updated_results_hash[key][:Revenue], delimiter:',', precision:0) %></td>
          <td style="text-align: right; padding-left:50px;"><%= number_with_precision(@updated_results_hash[key][:Margin], delimiter:',', precision:0) %></td>
        </tr>
        <% end %>
        <tr>
          <td style="padding:0px;">TOTAL:</td>
          <td style="text-align: right; padding-left:50px;"><%= number_with_precision(rev_total, delimiter:',', precision:0) %></td>
          <td style="text-align: right; padding-left:50px;"><%= number_with_precision(mar_total, delimiter:',', precision:0) %></td>
        </tr>
      </table>
      <% end %>
      </div>
    </div>
  </div>
</container>
