<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <div style="padding-top:3em;">
        <h1>Add a Shipment to</h1>
        <h1><%= full_project_name(@project) %></h1>
      </div>
        <h4 style="padding-top:20px;">Select a Product:</h4>
        <select id="ship_prod_select" class="data-searchable" style="width:300px;">
          <option value=0></option>
          <% @products.each do |p| %>
          <option value= <%= p.id %> > <%= p.name %> </option>
          <% end %>
        </select>
      <% @theObject = @shipment %>
      <%= render 'shared/error_messages' %>
      <%= render "shared/shipment_form" %>
    </div>
  </div>
</container>
